<div class="container" *ngIf="loadContent">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container">
        <img src="assets/images/logo.png" width="190"/>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="loginForm">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input #email class="form-control" type="text" name='email' placeholder="email"/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input #password class="form-control" type="password" name='password' placeholder="password"/>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-def btn-block" (click)="doLogin(email.value, password.value)">Login</button>
          </div>
          <div class="form-group text-center">
            <a (click)="doForgotPassword()">
              Forgot Password
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>