<button class="btn btn-primary" data-toggle="modal" data-target="#modal">Добавить</button>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Название</th>
            <th>Изображение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let promoSticker of promoStickers; let i=index">
            <td data-toggle="modal" data-target="#modal" (click)="newPromoSticker = promoSticker; fileToReadyUpload.data = apiUrl + '/' + promoSticker.image; changeEditStatus(true)">{{ i+1 }}</td>
            <td data-toggle="modal" data-target="#modal" (click)="newPromoSticker = promoSticker; fileToReadyUpload.data = apiUrl + '/' + promoSticker.image; changeEditStatus(true)">{{ promoSticker._id }}</td>
            <td data-toggle="modal" data-target="#modal" (click)="newPromoSticker = promoSticker; fileToReadyUpload.data = apiUrl + '/' + promoSticker.image; changeEditStatus(true)">{{ promoSticker.name }}</td>
            <td data-toggle="modal" data-target="#modal" (click)="newPromoSticker = promoSticker; fileToReadyUpload.data = apiUrl + '/' + promoSticker.image; changeEditStatus(true)">
              <img *ngIf="promoSticker.image" src="{{ apiUrl }}/{{ promoSticker.image }}" width="50%"/>
            </td>
            <td data-toggle="modal" data-target="#modal" (click)="newPromoSticker = promoSticker; fileToReadyUpload.data = apiUrl + '/' + promoSticker.image; changeEditStatus(true)">{{ promoSticker.description }}</td>
            <td>
                <a (click)="remove(promoSticker._id)">
                    <i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>


<div class="modal" id="modal">
    <div class="modal-dialog" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление новой промо стикер</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Наименование: </label>
                        <input type="text" 
                            class="form-control" 
                            id="name" 
                            placeholder="Наименование" 
                            [(ngModel)]="newPromoSticker.name" 
                            [value]="newPromoSticker.name"
                        />
                    </div>

                    <div class="form-group col-md-6">
                        <label><i class="fa fa-picture-o" aria-hidden="true"></i> Выберите изображение</label>
                        <input #file type="file" class="form-control" 
                        accept="image/*" 
                        placeholder="Изображение" 
                        (change)="addToListReadyupload(file)" multiple />
                        <div class="form-group col-md-12">
                            <span *ngIf="fileToReadyUpload && fileToReadyUpload.data">
                                <img width="100" height="100" src="{{ fileToReadyUpload.data }}" alt="Downloaded photo"/>
                            </span>
                        </div>
                    </div>

                    <div class="modal-footer col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button *ngIf="!isEdit" 
                            type="button" 
                            class="btn btn-primary" 
                            (click)="add(file, newPromoSticker)">Сохранить</button>
                        <button *ngIf="isEdit" 
                            type="button" 
                            class="btn btn-primary" 
                            (click)="update(file, newPromoSticker)">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>